################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BengkelAtmaAuto_sln/v15/Server/sqlite3
